p {
  color: Red;
  text-align: center;
  font-size: 30px;
}

.card {
  background-color: lightblue;
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
}

.cardbgcolor {
  background-color: lightgreen;
}
